<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1 align="center">Проверка домена на легитимность</h1>
<div align="center">
<form id="domainForm">
    {% csrf_token %}
    <input type="text" id="domainInput" name="domain" placeholder="Введите домен">
    <button type="submit">Проверить</button>
</form>

<div id="result"></div>
</div>

<script>
    $(document).ready(function(){
        $('#domainForm').submit(function(event){
            event.preventDefault(); // Предотвращаем обычную отправку формы
            var domain = $('#domainInput').val();
            $.ajax({
                type: 'POST',
                url: '',
                data: {
                    'domain': domain,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response){
                    $('#result').text(response.result); // Обновляем содержимое блока с результатом
                }
            });
        });
    });
</script>

</body>
</html>
